<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Project Plan Templates{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar">
      <div class="container navbar-inner">
        <a class="navbar-brand" href="{% url 'plans:project-list' %}">Project Plans</a>
        <button class="nav-toggle" type="button" aria-expanded="false" aria-controls="navbarNav">
          <span class="nav-toggle-bar"></span>
          <span class="nav-toggle-bar"></span>
          <span class="nav-toggle-bar"></span>
        </button>
        <div class="navbar-collapse" id="navbarNav">
          <ul class="navbar-menu">
            {% if user.is_authenticated %}
            <li class="navbar-item"><span class="navbar-text">{{ user.get_username }}</span></li>
            <li class="navbar-item"><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="navbar-item"><a class="navbar-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <main class="container page-container">
      {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/simple_table.js' %}" defer></script>
    <script src="{% static 'js/app.js' %}" defer></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
